*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-color: #222831;
    font-family: 'Tinos', serif;
    color: #EEEEEE;
    font-size: 1.05rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*Navbar*/
.navbar-container{
    width: 100%;
    max-width: 1200px;
    background-color: #222831;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 50px;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    gap: 3rem 2rem;
}

.nav-list li {
    list-style-type: none;
}

.nav-list li a{
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #EEEEEE;
    transition: all 0.3s ease-in-out;
}

.nav-list li:hover a{
    background-color: #393E46;
}

main{
    width: 80%;
    max-width: 1200px;
    display: flex;
    margin-inline: auto;
    justify-content: center;
    flex-direction: row;
    color: #EEEEEE;
}

/*Daftar Bab*/
.daftar-bab{
    max-width: 240px;
    margin-top: 20px;   
    background-color: #393E46;
    border-radius: 20px;
}

.daftar-bab ul{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.daftar-bab li{
    list-style-type: none;
    padding: 1rem 0rem;
}

.daftar-bab li a{
    text-decoration: none;
    color: #EEEEEE;
}

/*Main Content*/
.main-article{
    max-width: 640px;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    background-color: #393E46;
    border-radius: 20px;
}

.img{
    display: flex;
    justify-content: center;
}

.img img{
    width: 300px;
    border-radius: 20px;
}

.exp-img{
    display: flex;
    justify-content: center;
}

.exp-img img{
    width: 250px;
    border-radius: 20px;
}

/*Ilustrasi*/
.ilustrasi-metode-eliminasi,
.ilustrasi-metode-grafik,
.ilustrasi-metode-gauss,
.ilustrasi-metode-gauss-jordan{
    border-radius: 10px;
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
}

.ilustrasi-metode-eliminasi ul,
.ilustrasi-metode-grafik ul,
.ilustrasi-metode-gauss ul,
.ilustrasi-metode-gauss-jordan ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ilustrasi-metode-eliminasi ul li,
.ilustrasi-metode-grafik ul li,
.ilustrasi-metode-gauss ul li,
.ilustrasi-metode-gauss-jordan ul li{
    padding: 0.5rem 1rem;
    list-style-type: none;
}

.ilustrasi-metode-eliminasi ul li:hover,
.ilustrasi-metode-grafik ul li:hover,
.ilustrasi-metode-gauss ul li:hover,
.ilustrasi-metode-gauss-jordan ul li:hover{
    cursor: pointer;
}

.ilustrasi-metode-eliminasi ul #first-elim,
.ilustrasi-metode-grafik ul #first-graph,
.ilustrasi-metode-gauss ul #first-g,
.ilustrasi-metode-gauss-jordan ul #first-gj{
    border-radius: 10px 0px 0px 0px;
}

.exp-p{
    font-size: 1.1em;
    padding-left: 20px;
}

.ilus-img{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.ilus-img img{
    border-radius: 20px;
}

/*EGJ*/
.egj-eximg, .egj-prob{
    display: flex;
    justify-content: center;
}

.egj-eximg img, .egj-prob img{
    width: 400px;
    border-radius: 20px;
}

.ilustrasi-metode-gauss-jordan ul #sixth-gj{
    border-radius: 0px 10px 0px 0px;
}

main .main-article .egj .elim-gauss .ilustrasi-metode-gauss .eg-ilus-img,
main .main-article .egj .elim-gauss-jordan .ilustrasi-metode-gauss-jordan .egj-ilus-img{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

main .main-article .egj .elim-gauss .ilustrasi-metode-gauss .eg-ilus-img img,
main .main-article .egj .elim-gauss-jordan .ilustrasi-metode-gauss-jordan .egj-ilus-img img{
    width: 400px;
    border-radius: 20px;
}

/*Latihan Soal  */
main .main-article .latsol > div{
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
}

.latsol p, .latsol h3{
    padding: 0.1rem 1rem; 
}

.latsol i{
    padding: 1rem 1rem;
}

.equation{
    font-size: 1.5rem;
}

.latsol li{
    list-style: upper-alpha;
    margin: 0.2rem;
}

.latsol div[class^="pembahasan-"]{
    display: none;
    justify-content: center;
}

.pembahasan-latsol{
    display: flex;
    flex-direction: column;
}

.matrices{
    font-size: 1.3rem;
}

/*Quiz*/
.button {
    display: flex;
    justify-content: center;
}

.quiz-btn{
    width: 320px;
    height: 50px;
    color: #EEEEEE;
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid #222831;
    border-radius: 10px;
    background-color: #222831;
}

/*Fun Fact*/
.bab-funfact{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin-top: 20px;
    padding: 10px;
    background-color: #393E46;
    border-radius: 20px;
}

aside h2{
    text-align: center;
}

.img-box {
    display: flex;
    justify-content: center;
}

.img-box img{
    width: 250px;
    border-radius: 20px;
}

/*Footer*/
footer{
    background-color: #393E46;
    padding: 20px;  
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media ul{
    display: flex;
    flex-direction: row;
}

.social-media ul li{
    color: #EEEEEE;
    padding: 0rem 1rem;
    list-style-type: none;
}

.social-media ul li a{
    text-decoration: none;
    color: #EEEEEE;
}

@media screen and (max-width: 1080px) {
    main{
        flex-direction: column;
        justify-content: center;
    }
    main aside{
        margin-inline: auto;
        margin-top: 20px;
    }
    .daftar-bab{
        max-width: none;
        margin: 0;
    }
    .daftar-bab ul{
        flex-direction: row;
        flex-wrap: wrap ;
        align-content: flex-start;
        gap: 0rem 2rem;
    }
    .daftar-bab li{
        font-size: 1.4rem;
    }
    .main-article{
        margin: 20px 0px 0px 0px;
        margin-inline: auto;
    }
    .bab-funfact{
        margin-inline: auto;
        max-width: 600px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 760px){
    img{
        max-width: 200px;
    }
    .main-article ul{
        flex-wrap: wrap;
    }
    footer{
        flex-wrap: wrap;
    }
    .social-media ul{
        flex-direction: column;
    }
}

@media screen and (max-width: 430px){
    .nav-list ul{
        padding: 0;
        gap: 0;
    }
    .nav-list li a{
        font-size: 1.2rem;
    }
    .main-article{
        max-width: 300px;
    }
}