*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-color: #222831;
    font-family: 'Tinos', serif;
    color: #EEEEEE;
    font-size: 1.05rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar-container{
    width: 100%;
    max-width: 1200px;
    background-color: #222831;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 50px;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    gap: 3rem 2rem;
}

.nav-list li {
    list-style-type: none;
}

.nav-list li a{
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #EEEEEE;
    transition: all 0.3s ease-in-out;
}

.nav-list li:hover a{
    background-color: #393E46;
}

main{
    width: 80%;
    max-width: 1200px;
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    flex-direction: row;
    color: #EEEEEE;
}

main article{
    max-width: 800px;
    margin: 20px 20px 20px 0px;
    border-radius: 20px;
    padding: 20px;
    background-color: #393E46;
}

.introduction-image{
    display: flex;
    justify-content: center;
}

.introduction-image img{
    width: 210px;
}

.profile{
    margin-top: 20px;
    padding: 10px;
    background-color: #393E46;
    border-radius: 20px;
}

.profile h3,.profile h4{
    text-align: center;
}

.dev-image{
    display: flex;
    justify-content: center;
}

.dev-image img{
    width: 250px;
}

.social-media ul{
    display: flex;
    flex-direction: column;
}

.social-media ul li{
    color: #EEEEEE;
    padding: 0.3rem 1rem;
    list-style-type: none;
}

.social-media ul li a{
    color: #EEEEEE;
    text-decoration: none;
}

footer{
    background-color: #393E46;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    header.navbar-container .nav-list ul{
        flex-wrap: wrap;
    }
    header.navbar-container .nav-list li a{
        padding: 1rem 0.2rem;
        font-size: 1.2rem;
    }
    main{
        flex-direction: column;
        gap: 1rem;
    }
    main article{
        margin: 0;
    }
    main aside{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 350px) {
    header.navbar-container .logo img{
        display: none;
    }
    header.navbar-container .nav-list ul{
        padding: 0;
    }
    main aside .profile .dev-image img{
        width: 180px;
    }
    main aside .profile .social-media ul li{
        padding: 0;
        list-style-type: none;
    }
}